<ul class="card__nav nav nav-tabs" role="tablist">
  <li *ngFor="let item of tabsNameArrForView; let i = index" class="card__nav-item nav-item">
    <a [routerLink]="['navigator']" [queryParams]="{'tab': i}" (click)="handleTabClick(i)" [class.active]="tabID == i" class="card__nav-link nav-link" data-toggle="tab">{{item}}</a>
  </li>
</ul>
<div class="card__content tab-content">
  <table class="card__table table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Account</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of usersWithDefType">
        <td>{{item.name.first + ' ' + item.name.last}}</td>
        <td>{{item.amount.toFixed(0)}}</td>
      </tr>
    </tbody>
  </table>
</div>